body{
    font-family: 'Bangers', cursive;
}
h1{
    font-size: 50px;
}
.c1{
    color: crimson;
}
.d{
    width:40%;
    float:left;
    margin-left: 5%;
    padding-left: 2%;
}
.d img{
    width: 100%;
}